*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins';
   
 }

 .html{
      scroll-behavior: smooth;
 }

 .container {
      width: 100%;
      height: 100vh;
      background-image: url(/Images/Background.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
}

.logo {
      width: 150px;
      height: 40px;
      cursor: pointer;
      margin-top: auto;     
}

@keyframes animatedSquare {
      0%   {border-radius: 0%;}
      25%  {border-radius: 80%;
            transform: translate(200px)}
}

div {
      color: black;
      margin: 0%;
      width: 100px;
      height: 100px;
      animation-name: animatedSquare;
      animation-duration: 3s;
      animation-iteration-count: 1;    
}
  
header {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 0px;
}

header ul{
      flex: 1;
      text-align: right;     
}

header ul li{
      display: inline-block;
      list-style: none;
      margin: 0px 30px;
}

header ul li a{
      font-size: 20px;
      color: white;
      text-decoration: none;
      position: relative;
}

header ul li a::after{
      content:"";
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate(-50%);
      transition: width 0.3s;
}

header ul li a:hover::after{
      width: 80%;
      background: url(/Images/Back.jpg);
}

.text{ 
      color: white;
      background-color: transparent;
      position: absolute;
      bottom: 30%;
}

.text p{
      font-size: 40px;
      color:white;
      font-weight: 600;
      margin-left: 30px;    
}

.text h1{
      font-size: 70px;
      width: 900px;
      line-height: 90px;
      margin-left: 60px;
      -webkit-text-stroke: 1px white; 
      background: url('/Images/Back.jpg');
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: back 100s linear infinite;
}

@keyframes back{
      100%{
            background-position: 2000px 0;
      }
}

.text h3{ 
      font-size: 30px;
      width: 1000px;
      color: white;
      font-weight: 500;
      margin-left: 300px;
}

.text button {
      margin-left: 150px;
      margin-top: 50px;
      -webkit-text-stroke: 1px black; 
      background: url('/Images/Back.jpg');
      -webkit-background-clip: border-box;
      background-clip: border-box;
      animation: back 100s linear infinite;
}

.about {
      width: 100%;
      padding: 350px;
      height: 850px;
      background: url(/Images/ExperienceBack.jpg);
}

.about img{
      margin-top: -300px;
      height: 750px;
      width: 500px;
      margin-left: -350px;
      padding: 10px 10px;
      border-radius: 100px;
      background: url('/Images/Back.jpg');
      -webkit-background-clip: border-box;
      background-clip: border-box;
      animation: back 100s linear infinite;   
}

.about-text{
      background-color: transparent;
      width: 700px;
}

.main{ 
      background-color: transparent; 
      margin-top: -700px;
      margin-left: 350px;

}
.about-text h2{
      color: white;
      font-size: 25px;
      margin-bottom: 35px;
      text-decoration-line: underline;
}

.about-text p{
      font-family: 'poppins';
      color: white;
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      margin-bottom: 45px;
}

button{
      cursor: pointer;
      background: url('/Images/Back.jpg');
      -webkit-background-clip: border-box;
      background-clip: border-box;
      border: 2px solid transparent;
      padding: 10px 20px;
      border-radius: 100px;
      transition: 0.2s;
      animation: back 100s linear infinite;

}
button:hover{
      background-color: transparent;
      border: 4px solid white;
}

.education {
      color: white;
      padding: 50px;
      background: url(/Images/ExperienceBack.jpg);
      font-family: 'poppins';
}

.education h2 {
      font-size: 25px;
      text-decoration-line: underline;
}

.education ul {
      padding: 0px 30px;
}

.education img {
      padding: 10px 10px;
      width: 500px;
      height: 500px;
      border-radius: 100%;
      position: absolute;
      float: right;
      left: 700px;
      top: 1900px;
      background: url('/Images/Back.jpg');
      -webkit-background-clip: border-box;
      background-clip: border-box;
      animation: back 100s linear infinite;
}

.experience {
      color: white;
      padding: 40px;
      background: url(/Images/ExperienceBack.jpg);
      width: 100%;
}

.experience h2 {
      font-size: 25px;
      text-decoration-line: underline;
}

footer{
      position: relative;
      width: 100%;
      height: 300px;
      background: url(/Images/ProfessionalBack.jpg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

footer h2{
      font-size: 25px;
      color: white;
      margin-top: 30px;
      font-weight: bold;
      text-decoration-line: underline;
}  

footer h3{
      color: white;
      font-size: 20px;
      width: 500px;
      text-align: center;
      line-height: 26px;
      justify-content: center;
      margin-top: 20px;
}

.social{
      background: transparent;
      display: flex;
      width: 400px;
      height: 400px;

}

.social a{
      width:80%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      margin: 10px 10px;
}

.social a{
      background-color: transparent;
      text-decoration: none;
      border: 1px solid transparent;
      padding: 10px 10px;
      transition: 0.4s;
}

.social a:hover{
      background-color: transparent;
      background: url(/Images/Back.jpg);
}

.end{
      position: absolute;
      color: #a08484;
      bottom: 35px;
      font-size: 16px;
}
